html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 10px;
    /*border: 5px solid #f5ead9;*/
}

.bg-blue {
    background: url(http://i.imgur.com/A2rqm.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content-container {
    margin-left: 10px;
}

#content-container .board {
    display: inline-block;
    min-height: 200px;
    max-width: 100%;
    line-height: 1.428571429;
    width: 360px;
    height: 220px;
    padding:  20px;
    margin: 0px 15px 0px 0px;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    padding-top: 34px;
}

#content-container .note {
    display: inline-block;
    min-height: 200px;
    max-width: 100%;
    line-height: 1.428571429;
    width: 360px;
    height: 220px;
    padding:  20px;
    margin: 0px 15px 0px 0px;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    padding-top: 34px;
}


#content-container .board.create, #content-container .note.create {
    height: 240px;
}

.edit input[type=text]:hover, .edit textarea:hover,
.edit input[type=text]:focus, .edit textarea:focus {
  border: 1px solid #d7cebf;
}

.medium {
    font-size: 18px;
    font-weight: bold;
}